*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}


header
{
    background-color: #7052ff;

}

header > nav
{
    padding:10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

header nav a 
{
    color: #fef6cd;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;;
    font-size: x-large;
    
}

header > nav > a:hover
{
    color: black;
    font-weight: bold;
    text-decoration: underline;
}

main
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    

}

main > .card
{
    width: 300px;  
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
    margin-top: 20px;
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 3px;
}

main > .card:hover
{
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

footer
{
    margin:  20px;
    padding: 20px;
    border-top: 1px solid black;
    text-align: center;
}


main .card1
{
    width: 300px;  
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
    margin-top: 20px;
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 3px;
}
